.App h1 {
	text-align: center;
    padding: 15px;
    padding-right: 120px;
    height: 70px;
    color: black;
}


.App-header img {
    float: left;
    color: black;
    height: 80px;
    padding-left: 30px;


}

.App-intro {
	text-align: center;
  font-size: large;
  padding-bottom: 30px;
}

