.App {
  text-align: center;
}

.App-header h1 {
    position: relative;
    padding: 10px;
    height: 70px;
    color: black;
}


.App-header img {
    float: left;
    color: black;
    height: 80px;
}

.App-intro {
  font-size: large;
}

