.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  padding-right: 300px;
}

.App-header {
  background-color: darkblue;
  height: 70px;
  padding: 20px;
}

/*.App-header h1 {
    color: black;
    padding-bottom: 200px;
  }
*/

.App-title {
    color: black;
    height: 80px;
}

.App-intro {
  font-size: large;
}

