.TeamPicture {
  float: left;
  background-color: white;
  display: inline-block;
}

.TeamPicture img:hover {
	opacity: .5;
}

.TeamPictureHighlighted {
	float: left;
    display: inline-block;
    -webkit-filter: sepia(100%); filter: sepia(100%);
}

.TeamStats{
	font-size: 15px;
	position: absolute;
	top: 350px;
	left: 150px;
}

.Loading{
	float:left;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 400px;
}