.TeamPicture {
  float: left;
  background-color: white;
   display: inline-block;
}

.TeamPicture img:hover {
	opacity: .5;
}

.TeamStats{
	font-size: 20px;
	position: absolute;
	top: 400px;
	left: 550px;
}

.Loading{
	float:left;
}